.inputDiv {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 2em;
}

.inputDiv div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.inputDiv label {
    color: #fff;
    font-size: 12pt;
    font-weight: 600;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5)
}

.inputDiv input, .inputDiv select {
    height: 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.inputDiv input:focus {
    outline: none;
}

.inputDiv span {
    display: none;
    position: absolute;
    color: rgb(255, 0, 0);
    margin-top: 3em;
}

#requestError {
    display: block;
    text-align: center;
    margin-top: 2em;
    color: #fff;
    font-weight: 600;
    font-size: 15pt;
}

.btnContainer {
    text-align: center;
    margin-top: 3em;
}