.campoBuscar {
    text-align: center;
}

.campoBuscar input {
    width: 80%;
    height: 3em;
    margin-top: 2em;
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

.campoBuscar input::placeholder {
    padding-left: 1em;
    color: #000;
}

.campoBuscar input:focus {
    outline: none;
}

.listaDeFilmes {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 80%;
    margin: auto;
    padding-top: 2em;
}

.listaDeFilmes p {
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.listaDeFilmes p:hover {
    background-color: rgb(150, 150, 150);
}

.listaDeFilmes span {
    text-align: center;
    color: #fff;
    font-size: 15pt;
    font-weight: 600;
}

.btnContainer {
    margin-top: 2em;
    text-align: center;
}